.find,.follow,.statistics{
    margin-bottom:30px;
}
.find-title{
    overflow:hidden;
    border-bottom: 1px solid #ccc;
}
.find-title h3{
    background: url("../img/travel/travel_02.png") center left no-repeat;
    font-size:18px;
    color:#fff;
    padding:5px;
    padding-left:40px!important;
    margin-top:0!important;
    margin-bottom:0!important;
}

.banner-input{
    position: relative;
    width: 70%;
    margin:20px auto;
}
.box-input{
    display: inline-block;
    width: 85%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.box-input input{
    padding: 13px;
    width: 100%;
    border: 0;
    outline: none;
}
.banner-input button{
    margin-left: -5px;
    width: 15%;
    height: 50px;
    background: #009ce7 url("../img/xycx/banner-search.png") no-repeat center;
}

.hotSearch{
    overflow:hidden;
    background:#efebeb;
    padding:20px 0;
    width:90%;
    margin:0 auto;
}
.hotSearch>div:first-child{
    text-align: right;
}
.follow{
    overflow: hidden;
}
.follow li,#searchBox li{
    overflow:hidden;
    height:120px;
    border-bottom:1px dashed #ccc;
    padding-top:10px;
}
.follow-title{
    font-size:24px;
    color: #0099cc;
    padding:15px;
    border-bottom:1px dotted #ccc;
}
.follow .col-xs-3>img{
    width:100%;
}
.follow-title h4{
    color:#FF9966;
}
.img-per{
    padding-right:0!important;
    position:relative;
}
.img-per>span{
    position: absolute;
    top: 40px;
    left:45px;
}
.img-per>img{
    height:100px;
}
/*我的名片*/
.psCard{
    width:50%;
    margin:20px auto;
    /*border:1px solid #ccc;*/
}
.img-ps{
    /*margin-top:20px;*/
    height:130px;
}
.img-ps img{
    height:100%;
}
.img-ps span{
    position: absolute;
    top: 55px;
    left: 60px;
    color:#000;
}
.psCard-info{
    background:#999;
    color:#fff;
    position:relative;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top:20px;
    box-shadow: 0px 14px 25px 0px rgba(0,0,0,0.44);
}
.qrCord{
    width:60px;
    position:absolute;
    top:10px;
    right:10px;
}
.qrCord img{
    width:100%;
}
.share-platform{
    position:relative;
    clear: both;
    margin-top: 10px;
}
.share-platform .bds_tsina{
    background-image: url(../img/css-bg.png);
    background-position: -58px -9.5px !important;
}
.share-platform .bds_weixin{
    background-image: url(../img/css-bg.png);
    background-position: -12.5px -9.5px !important;
}
.share-platform .bds_qzone{
    background-image: url(../img/css-bg.png);
    background-position: -147px -9.5px !important;
}
.share-platform .bds_sqq{
    background-image: url(../img/css-bg.png);
    background-position: -102px -9.5px !important;
}
.bdsharebuttonbox{
    overflow: hidden;
    padding: 0 10px;
}
.bdsharebuttonbox a{
    float: left;
    width: 32px;
    line-height: 32px;
    height: 32px;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
    text-indent: -100em;
    overflow: hidden;
    color: #3a8ceb;
}
.bdsharebuttonbox li:first-child{
    float: left;
    margin-top: 10px;
}
.bdsharebuttonbox li:last-child{
    position:absolute;
    top: -60px;
    right: 10px;
}
.bdsharebuttonbox li:last-child a{
    background:url("../img/lz/xymp/u1404.png") center no-repeat;
    background-size:cover;
}
.follow ul li .col-xs-3:last-child img{
    height:100px;
}
.info-content{
    width:100%;
    min-height:400px;
}
.textTitle{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.cardContent{
    float:right;
    width:90%;
    overflow: hidden;
}
.concern{
    width:100px;
    height:100px;
    float:right;
    cursor:pointer;
    line-height: 100px;
}
.concern img{
    width:60%;
}
.searchKey{
    cursor:pointer;
}
#searchBox{
    overflow: hidden;
}
.searchContent{
    overflow: hidden;
}